#set ($subject = "FirstAidCPRCourse.com -- Contact Us Message")

<html>
Hello,
<br>
<br>
A new message was submitted on $siteDomain/contact page. Please see the message details below.
<br>
<br>
From: $name
<br>
Email: $email
<br>
Message: $message


</html>