#set ($subject = "FirstAidCPRCourse.com password reset")

<html>
Dear $firstName $lastName,
<br>
<br>
Thank you for contacting us. Please click on this <a href="$siteDomain/password-reset/$token" >link</a> to reset your password.
<br>
If you did not request this email, please contact support@firstaidcprcourse.com and let us know immediately.
<br>
<br>
Thanks,
<br>
Your Companion Medical Supply Support Team
<br>
The information contained in this electronic message may contain protected health information confidential under applicable law, and is intended only for the use of the individual or entity named above.  If the recipient of this message is not the above-named intended recipient, you are hereby notified that any dissemination, copy or disclosure of this communication is strictly prohibited.  If you have received this communication in error, please notify Companion Medical Supply at support@firstaidcprcourse.com and purge the communication immediately without making any copy or distribution.

</html>